*{
    padding: 0;
    margin: 0;
    text-transform: capitalize;
    text-decoration: none;
}


.card{
    width: 100%;
    height: 20vh;
    background-color: rgb(40, 40, 40);
}
body{
    background-color: rgb(40, 40, 40);
}
.container{
    max-width: 88%;
    margin: 0 auto;
}
.reac .container .full .item button:hover{
    background-color: aqua;
   color: yellow;
}
.con .container .tour .item button:hover{
    background-color: aqua;
    color: yellow;
}
.card .container .sammi .nav .itm button:hover{
    background-color: yellow;
    color: white;
}
.card .container .sammi .nav .itm a:hover{
    color: red;
    background-color: aqua;
}
.nav{
    width: 100%;
    height: 20vh;
    color: white;
    text-align: center;
}
.nav h1{
    margin-top: 20px;
}
.nav .itm{
    font-weight: 1;
    margin-top: 6vh;
    letter-spacing: 0.3px;
}
.itm s{
    font-size: 1.1rem;
}
.nav .itm button{
    padding: 18px 20px;
    margin-left: 10px;
    border-radius: 10px;
    border: 0;
    background-color: rgb(3, 86, 0);
    color: white;
    outline: 0;
    font-size: 1rem;
    opacity: 0.8;


    }
    .itm button:hover{
transition: all 1s linear;
        opacity: 0.9;
        color: brown;
    }
    .full{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
    }
.full .item{
    border: 1px solid rebeccapurple;
    width: 53vh;
    height: 51vh;
    border-radius: 13px;
    background-color: rgb(50, 50, 70);
    margin-top: 30px;
}
.full img{
    width: 50vh;
  margin-left: 10px;
  margin-top: 10px;
}
.ilon{
    border: 0;
    border-bottom: 2px solid white;
        margin-left: 0.5rem;
        margin-right: 0.5rem;
        height: 50px;
        margin-top: 30px;
}
.ilon a{
    margin-left: 2px ;
    font-size: 1.5rem;
    color: aliceblue;
  
}
.ilon b{
    color: aliceblue;
    margin-left: 27vh;
    font-size: 1.2rem;
 
    
}
.item button{
    text-align: center;
    background: 0;
    border: 1px solid yellow;
    background-color: yellow;
    padding: 16px 50px ;
    border-radius: 10px;
    margin-left: 18vh;
    margin-top: 6px;
    font-size: 1.2rem;
}
.tour{
    display: grid;
    grid-template-columns: 1fr 1fr ;
}
.tour .item{
    border: 1px solid rebeccapurple;
    width: 53vh;
    height: 51vh;
    border-radius: 13px;
    background-color: rgb(50, 50, 70);
  margin-top: 30px;
}
.tour  img{
    width: 50vh;
  margin-left: 10px;
  margin-top: 10px;
}
.tour .item:first-of-type{
    margin-left: 34vh;
}
.tour .item:last-of-type{
  margin-right:45vh;
}
    
    